.locationsPage {
    align-items: center;
    margin: auto;
    margin-top: 15px;
    background-color: beige;
    width: 80%;
    padding: 20px;
    font-size: 40px;
}

.locationRule {
    border-top:6px dotted;
    height:1px;
}

.locationSpan {
    display: block;
    margin-bottom: 1em;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.locationsCards {
    inline-size: fit-content;
    display: block;
    flex-wrap: wrap;
    padding: 5px;
}

.card-body {
    margin: 0px;
}

.locations-title{
    font-size: 50px;
}

.card-text{
    display: flex;
}

/*
mediumBreak: 1007px
smallBreak: 604px
*/
@media screen and (max-width: 1007px) {




}

/*For single column/Mobile View*/
@media screen and (max-width: 604px) {


}