@media all and (min-width: 480px) {
    .locationsPage {
        align-items: center;
        margin: auto;
        margin-top: 15px;
        background-color: #00AF33;
        width: 80%;
        padding: 20px;
        font-size: 40px;
        border-radius: 10px;
    }

    .locationRule {
        border-top:6px dotted;
        height:1px;
    }

    .locationSpan {
        display: block;
        margin-bottom: 1em;
    }
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .locationsCards {
        inline-size: fit-content;
        display: block;
        flex-wrap: wrap;
        padding: 5px;
    }

    .card-body {
        margin: 0px;
    }

    .locations-title{
        font-size: 50px;
    }

    .card-text{
        display: flex;
    }
    p {
        font-size: 35px;
    }
}

@media all and (max-width: 480px) {
    .locationsPage {
        align-items: center;
        margin: auto;
        margin-top: 15px;
        background-color: #00AF33;
        width: 80%;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
    }

    .locationRule {
        border-top:6px dotted;
        height:1px;
    }

    .locationSpan {
        display: block;
        margin-bottom: 1em;
    }
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .locationsCards {
        inline-size: fit-content;
        display: block;
        flex-wrap: wrap;
        padding: 5px;
    }

    .card-body {
        margin: 0px;
    }

    .locations-title{
        font-size: 30px;
    }

    .card-text{
        display: flex;
    }
    p {
        font-size: 20px;
    }
}