/*
code for tablets/desktop
*/
@media all and (min-width: 480px) {
    .Signup {
      padding: 40px ;
      max-width: 860px;
      margin: auto; 
      min-width: 400px;
      text-align: center;
    } 
  
    .Signup input{
      width: 400px;
      margin: 10px 10px;
      padding: 5px;
      font-size: 15px;
    }
  
  
    .Signup button {
      padding: 8px 20px;
      border-radius: 4px;
      outline: none;
      border: none;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      background-color: var(--primary);
      margin: 10px
    }
    .Signup .checkbox{ 
      width:20px;
      margin-right: 0px;
    }
  
    .Signup .ForgotPassword {
      margin-left: 50px;
    }
  }
    
    
  /*
  code for mobile
  */
    @media all and (max-width: 480px) {
      .Signup {
        padding: 40px ;
        max-width: 400px;
        margin: auto; 
        min-width: 200px;
        text-align: center;
      } 
    
      .Signup input{
        width: 250px;
        margin: 10px 10px;
        padding: 5px;
        font-size: 12px;
        
      }
    
      .Signup button {
        display: initial;
        padding: 8px 20px;
        border-radius: 4px;
        outline: none;
        border: none;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        background-color: var(--primary);
        margin: 10px
      }
  
      .Signup .checkbox{ 
        width:20px;
        margin-right: 0px;
      }
      .Signup .ForgotPassword {
        margin-left: 20px;
      }
  
    }