@media all and (min-width: 480px) {
  .contactForm {
    padding: 60px ;
    max-width: 720px;
    margin: auto; 
    margin-top: 15px;
    width: 50%;
    min-width: 200px;
    text-align: center;
  } 

  .button {
    margin-top: 15px;
  }
}