
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
 
:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1007px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
} 



/*




.Navbar {
    background-color: #333;
    width: 100%;
    height: 74px;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    --primary: #1888ff;
  }
  
  .Navbar .leftSide {
    flex:50%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .Navbar .leftSide .links {
    max-height: 80px;
  }
  
  .Navbar .leftSide button {
    display: none;
    margin-left: 20px;
  }

  .Navbar .menu-icon {
    display: none;
    margin-left: 20px;
  }
  
  .Navbar .leftSide #hidden{
    display: flex;
  }
  
  .Navbar .leftSide .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .Navbar .rightSide {
    flex:50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
  }
  
  .rightSide input {
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 15px;
    color: black;
    margin-right: 5px;
  }
  
  .rightSide button {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary) ;   
  }
  .rightSide .searchIcon {
    padding: 5px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary) ;   
  }
  
  .rightSide button:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
  }

  .Navbar .rightSide .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
  }

  
@media only screen and (max-width: 900px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }

  .rightSide input {
    width: 200px;
  }
}

@media only screen and (max-width: 900px) {
    .Navbar .leftSide .links a {
      font-size: 20px;
    }
    .Navbar .rightSide input {
      display: none;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .Navbar .leftSide .links a {
      font-size: 15px;
    }
  
   
  }
  
  
  
  @media only screen and (max-width: 650px) {
    .Navbar .leftSide button {
      display: flex;
      font-size: 20px;
    }

    .Navbar .menu-icon {
      display: flex;
      margin-left: 20px;
      font-size: 30px;
      color: #fff;
      background-color: #1888ff;
      padding: 5px 20px;
      border-radius: 4px;
    }
  
    .Navbar .leftSide .links {
      display: none;
    }  
  
    .Navbar .leftSide #hidden {
      position: absolute;
    }
  
    .Navbar .leftSide #hidden a {
      margin: 10px;
    }
  }

  */